<div>
	<form [formGroup]="form" (ngSubmit)="onSubmitProduct()">
		<table class="table table-bordered" formArrayName="productsArray">
			<tr class="align-middle" *ngFor="let product of products().controls; let i=index" [formGroupName]="i">
				<td>
					Create Date :
					<input type="datetime-local" formControlName="creationDate" class="form-control">
				</td>
				<td>
					Description:
					<input type="text" formControlName="description" class="form-control">
				</td>
				<td>
					Expiry Date:
					<input type="datetime-local" formControlName="expiryDate" class="form-control">
				</td>
				<td>
					Name:
					<input type="text" formControlName="name" class="form-control">
				</td>
				<td>
					Price:
					<input type="text" formControlName="price" class="form-control">
				</td>
				<td class="align-middle">
					<button (click)="onClickRemoveTemplateProduct(i)" class="btn btn-danger">Remove</button>
				</td>
			</tr>
			<tfoot>
				<button type="submit" class="btn btn-success">Submit</button>
			</tfoot>
		</table>
	</form>
</div>